<!doctype html>
<html lang="pt-br">

<head>

    <title>BeeImoveis</title> 
    <meta charset="UTF-8">
    <link href='img/favicon.ico' rel='icon' type='image/x-icon'/>
    <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="css/style.css" rel="stylesheet">
    <link href="../../lib/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet">
    <script src="../../lib/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
    <script src="../../lib/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/functionality.js"></script>

</head>

<body> <!-- Inicio de body -->

    <main class="container mainContainer">   <!-- Inicio de Main -->
        <section class="row">
            <div class="  col-sm-12 col-md-12">
        
                <aside class="asideLeft col-sm-3 col-md-3">
                    <center>  
                        <img width = "240"src="img/logo.png" class  = "logo">
                    </center>
                    <div class="loginMain col-sm-12 col-md-12">
                        <form class="form-horizontal">
                          <center>
                              <input class="emailLogin  form-control" type="email" name="email" placeholder="Email">
                              <input class="passLogin  form-control" type="password" name="senha" placeholder="Senha">
                              <button class="btnLogin col-sm-6 col-md-6 "><p class="textLogin">Login</p> 
                               
                              </button>
                              <button class="btnRegister btn-link">Cadastre-se</button>
                              <a class="btcForgot  col-sm-7 col-md-7">Esqueci minha senha</a>
                          </center>
                        </form>
                    </div>

                    <div class="searchProperties col-sm-12 col-md-12">

                        <article class="titleSearch">Busque seu Imóvel</article>

                        <form>

                            <center>
                                <select class="form-control">
                                    <option>Cidade</option>
                                    <option>Cidade</option>
                                    <option>Cidade</option>
                                </select>

                                <select class="form-control">
                                    <option>Cidade</option>
                                    <option>Cidade</option>
                                    <option>Cidade</option>
                                </select>

                                <select class="form-control">
                                    <option>Cidade</option>
                                    <option>Cidade</option>
                                    <option>Cidade</option>
                                </select>

                                <select class="form-control">
                                    <option>Bairro</option>
                                    <option>Cidade</option>
                                    <option>Cidade</option>
                                </select>

                                <select class="form-control">
                                    <option>Apartamento</option>
                                    <option>Cidade</option>
                                    <option>Cidade</option>
                                </select>
                            </center> 

                            <div class="checkbocProperties"> 
                                <label class="checkboxOption">
                                       <input type="checkbox"> Somente Imóveis prontos
                                </label> 

                                <label class="checkboxOption">
                                       <input type="checkbox"> Somente Imóveis em construção
                                </label>   

                                <label class="checkboxOptionMain">
                                        <input type="checkbox"> Somente Imóveis de particulares
                                </label> 

                                <label class="checkboxOption">
                                       <input type="checkbox"> Aceitar Imóvel de menor valor
                                </label> 
                            </div>   

                            <center>
                                    <input class="span11 form-control" type="text" placeholder="Localização (Ex, Bloco)">
                            </center>

                            <label class="checkboxOptionPrice">
                                   Preço até
                            </label>

                            <center>    
                                <div id="slider-range-min" class="col-lg-offset-1 col-sm-10 col-md-10">
                                </div>
                                <input type="text" class="span11 form-control" id="amount" readonly="" style="border:0; color:#000; font-weight:bold;">
                                <div class="findProperty ">
                                    <p class="col-sm-12 col-md-12">Encontrar Imóvel</p>
                                </div>
                            </center>
                        </form>

                    </div>

                    <div class="facebookLike col-sm-12 col-md-12">
                         <div id="fb-root"></div>
                          <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-width="280" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true">
                        </div>
                    </div>

                    <div class="alertImoveis col-sm-12 col-md-12">
                   <center> <img src = "img/sino.png" /><br/>
                        Receba alertas sobre o imóvel que procura
                    </center>
                    </div>

                </aside> 

                <aside class="asideRight col-sm-8 col-md-8">

                    <nav class="navbar navbar-default">
                        <div class="container">
                           
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">
                                
                                </a>
                            </div>

                           
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle cidadeSelect" data-toggle="dropdown" role="button" aria-expanded="false">
                                          Distrito federal
                                          <span class="glyphicon glyphicon-menu-down"></span>
                                        </a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Teste</a></li>
                                            <li><a href="#">Teste</a></li>
                                            <li><a href="#">Teste</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Teste</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Teste</a></li>
                                        </ul>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#">Apartamentos Asa sul</a>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#">Apartamentos Asa norte</a>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#">Casas Asa sul</a>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#">Casas Asa sul</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>

                    <div class="menuMain col-sm-12 col-md-12">
                        <ul class="optioSalesUL">  

                            <li class="optioSalesLiMain .col-md-5">
                                <a class="mainSubPropriet">Anunciar</a> 
                                <span class="mainSub"><br>
                                meu Imóvel
                                </span>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                     Comprar 
                                  <span class="mainSob"><br>
                                     Imóveis
                                  </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                       Imóveis 
                                    <span class="mainSob"><br>
                                       a Venda
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                        Imóveis 
                                    <span class="mainSob"><br>
                                        para Alugar
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                        Imóveis 
                                    <span class="mainSob"><br>
                                        Comerciais
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                       Planos 
                                    <span class="mainSob"><br>
                                      e valores
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                       Fale 
                                    <span class="mainSob"><br>
                                       Conosco
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="containerDestaque col-sm-12 col-md-12">
                        <div class="destaqueOne col-sm-6 col-md-6">
                            <center>
                                <h5 class = "titleDestaque">Casa em destaque!!</h5>  

                                <figure class = "figureImg">
                                    <img width = "100%" src = "img/ApDestaqueOne.jpg" />
                                </figure>

                                <article class="textDescribeDestaque">
                                    Lorem Ipsum é simplesmente uma si  um impresalto para a editosencialmente inalterado. Se popularizou na década de 60, quanegrado a 
                                </article>            

                            </center>
                        </div>       

                        <div class="destaqueTwe col-sm-6 col-md-6">
                              <center>

                                <h5 class = "titleDestaque">Casa em destaque!!</h5> 

                                <figure class = "figureImg2">
                                   <img width = "100%" src = "img/ApDestaqueOne.jpg" />
                                </figure>

                                <article class="textDescribeDestaque">
                                    Lorem Ipsum é simplesmente uma si  um impresalto para a editosencialmente inalterado. Se popularizou na década de 60, quanegrado a 
                                </article>

                            </center>
                        </div>                    
                    </div>





                    <div class="homeMoveis col-sm-12 col-md-12">

                        <h1 class="titleMoveis">Imóveis em Brasilia</h1>
                    
                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>

                        <div class="imovelDestaque col-sm-6 col-md-6">
                            <figure class="imgMovel">
                               <img src="img/casa_topo.png" width="140">
                            </figure>

                            <span>
                                <span class="titleBoxHome">Apartamento Legal</span><br>
                                Aguas Lindas
                            </span>
                            <span class = "precoCasa">R$ 80,000,00</span>
                        </div>
                        

                    <div class = "destaqueChmada col-sm-12 col-md-12">
                        <div class = "destaqueWatOne ">
                            <div class = "mensagemDestaque">
                               Porquer vender sem corretor?
                            </div>
                        </div>

                        <div class = "destaqueWatTwe">
                            <div class = "mensagemDestaque">
                               Porquer vender sem corretor?
                            </div>
                        </div>

                        <div class = "destaqueWatTre">
                            <div class = "mensagemDestaque">
                                Porquer vender sem corretor?
                            </div>    
                        </div>
                    </div>

                </aside>
                
                <footer class = "linksMenuBootom col-sm-11 col-md-11">            

                    <ul class = "col-sm-1 col-md-1" >
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li> 
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                </footer>
            </div>       
        </section>
    </main> <!-- Fim de Main -->

    <div class = "footerMain">
    </div>

    <div class = "footerMainTwe">
         <div class = "footerMensagem"> 
             Copyright(c) BeeImoveis 2015 - Produzido por 2creative: 
             <a href = "http://www.2creativegames.com.br/" target="_blank" >www.2creativegames.com.br</a>
         </div>
    </div>

</body><!-- Fim de body -->
</html>


















