<!doctype html>
<html lang="pt-br">
<head>
    <title>BeeImoveis</title> 
         <meta charset="UTF-8">
         <link href='../home/img/favicon.ico' rel='icon' type='image/x-icon'/>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link href="../home/css/style2.css" rel="stylesheet">
         <link href="../../lib/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet">
         <script src="../../lib/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
         <script src="../../lib/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
         <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
         <script src="../../lib/mask/jquery.mask.js"></script>
         <script src="../home/js/functionality.js"></script>
         <script type="text/javascript" src="../home/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="../home/js/jssor.js"></script>
        <script type="text/javascript" src="../home/js/jssor.slider.js"></script>
        <script type="text/javascript" src="../home/js/slider.js"></script>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="description" content="PgwSlideshow is a responsive and lightweight Gallery / Slideshow / Carousel plugin for jQuery and Zepto">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <link rel="stylesheet" type="text/css" href="../home/css/slider1.csss"/>
        <link rel="stylesheet" type="text/css" href="../home/css/slider2.css"/>
</head>

<body> <!-- Inicio de body -->

   <main class="container mainContainer">   <!-- Inicio de Main -->
        <section class="row">
            <div class = "headerFinal col-xs-12 col-sm-12 col-md-3">
                <img width = "240" src="../home/img/logo.png" class  = "logo center-block img-responsive" />
                <div class = "voltarResultado col-xs-12 col-sm-12 col-md-12">
                    <div class = "btnVoltar">
                        <span class = "glyphicon glyphicon-arrow-left"></span>
                    </div>
                    <span class = "styleBtnVoltar center-block">Voltar á página <br/>de resultados</span>
                </div>
            </div>
            <div class = "headerFinalTwe col-xs-12 col-sm-12 col-md-9">
                <div class = "menuRight col-xs-12 col-sm-12 col-md-12 ">

                    <ul class="optioSalesUL">
                        <li class="optioSalesLiMain .col-md-5">
                            <a href = "#" class="mainSubPropriet ">Anunciar
                                <span class="mainSub">
                                meu Imóvel
                                </span>
                            </a>
                        </li>

                        <li class="optioSalesLi">
                            <a href="#">
                                Comparar
                                  <span class="mainSob">
                                     Imóveis
                                  </span>
                            </a>
                        </li>

                        <li class="optioSalesLi retirarLi">
                            <a href="#">
                                Imóveis
                                    <span class="mainSob">
                                       a Venda
                                    </span>
                            </a>
                        </li>

                        <li class="optioSalesLi retirarLi">
                            <a href="#">
                                Imóveis
                                    <span class="mainSob">
                                        para Alugar
                                    </span>
                            </a>
                        </li>

                        <li class="optioSalesLi retirarLi">
                            <a href="#">
                                Imóveis
                                    <span class="mainSob">
                                        Comerciais
                                    </span>
                            </a>
                        </li>

                        <li class="optioSalesLi">
                            <a href="../planosevalores/index.html">
                                Planos
                                    <span class="mainSob">
                                      e valores
                                    </span>
                            </a>
                        </li>

                        <li class="optioSalesLi">
                            <a href="#">
                                Fale
                                    <span class="mainSob">
                                       Conosco
                                    </span>
                            </a>
                        </li>

                    </ul>
                </div>


                <div class="buscarMovel col-xs-12 col-sm-12 col-md-12">

                    <div class="selectBusca col-xs-12 col-sm-12 col-md-3">
                        <select class = "form-control">
                            <option>Cidade</option>
                            <option>Cidade</option>
                            <option>Cidade</option>
                        </select>
                        <select class = "form-control">
                            <option>Cidade</option>
                            <option>Cidade</option>
                            <option>Cidade</option>
                        </select>
                        <select class = "form-control">
                            <option>Cidade</option>
                            <option>Cidade</option>
                            <option>Cidade</option>
                        </select>
                    </div>

                    <div class="selectBusca col-xs-12 col-sm-12 col-md-3">
                        <select class = "form-control">
                            <option>Cidade</option>
                            <option>Cidade</option>
                            <option>Cidade</option>
                        </select>
                        <select class = "form-control">
                            <option>Cidade</option>
                            <option>Cidade</option>
                            <option>Cidade</option>
                        </select>
                        <select class = "form-control">
                            <option>Cidade</option>
                            <option>Cidade</option>
                            <option>Cidade</option>
                        </select>
                    </div>

                    <div class="selectBuscaChck col-xs-12 col-sm-12 col-md-4">
                        <label class="checkboxOptionTop">
                            <input type="checkbox"> Somente Imóveis prontos
                        </label>

                        <label class="checkboxOptionTop">
                            <input type="checkbox"> Somente Imóveis em construção
                        </label>

                        <label style = "color:red" class="checkboxOptionTop">
                            <input type="checkbox"> Somente Imóveis de particulares
                        </label>

                        <label class="checkboxOptionTop">
                            <input type="checkbox"> Aceitar Imóvel de menor valor
                        </label>
                    </div>

                    <div class="botaoBuscar col-xs-12 col-sm-12 col-md-2">
                        Encontrar Imóvel
                    </div>

                </div>

            </div>

            <div class = "containerView col-xs-12 col-sm-12 col-md-12">
                <div class = "containerViewMovel col-sm-12 col-md-12">
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

    <div class="m10">    
        <div class="cntr mt20">
        <ul class="pgwSlideshow">
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/san-francisco.jpg" alt=""   ></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/rio.jpg"  alt="" ></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/london_mini.jpg" alt="" data-large-src="http://s1c.pagawatic.com/img/pgwjs/slideshow/london.jpg"></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/new-york.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/new-delhi.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/paris.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/sydney.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/tokyo.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/honk-kong.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/honk-kong.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/honk-kong.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/dakar.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
            <li><img src="http://s1c.pagawatic.com/img/pgwjs/slideshow/toronto.jpg" alt=""></li>
        </ul>
        </div>
 
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>     
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                    
                </div>
            </div>

            <div class = "centerFinal col-xs-12 col-sm-12 col-md-3">
                    <div class = "leftInformacaoImovel">
                        <ul>
                            <li>Telefone do proprietario</li>
                            <li>Indique esse imóvel</li>
                            <li>Adicionar aos favoritos</li>
                            <li>Agendar visita ao imóvel</li>
                            <li>Quero que ajava</li>
                        </ul>
                    </div>
            </div>
            <div class = "centerFinalTwe col-xs-12 col-sm-12 col-md-9">
                <div class="tabelasdeInofrmacao">
                    <table class="table infoHome table-bordered col-xs-12 col-sm-12 col-md-12">
                        <thead>
                        <tr class = "footerRights">
                            <th>Valor</th>
                            <th>Quanrtos</th>
                            <th>Suítes</th>
                            <th>Banheiros</th>
                            <th>Lavabos</th>
                            <th>Garagem</th>
                            <th>Andar</th>
                            <th>Andares</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="active">
                            <th scope="row">R$1.5.00000,00</th>
                            <td>06</td>
                            <td>05</td>
                            <td>09</td>
                            <td>09</td>
                            <td>09</td>
                            <td>--</td>
                            <td>09</td>
                        </tr>
                        </tbody>

                        <thead>
                        <tr class = "footerRights">
                            <th>Valor</th>
                            <th>Quanrtos</th>
                            <th>Suítes</th>
                            <th>Banheiros</th>
                            <th>Lavabos</th>
                            <th>Garagem</th>
                            <th>Andar</th>
                            <th>Andares</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="active">
                            <th scope="row">R$1.5.00000,00</th>
                            <td>06</td>
                            <td>05</td>
                            <td>09</td>
                            <td>09</td>
                            <td>09</td>
                            <td>--</td>
                            <td>09</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class = "footerFinal col-xs-12 col-sm-12 col-md-3">
                <div class="conversaDono col-xs-12 col-sm-12 col-md-12">
                    <h5 class = "donoTitle">Converse com o dono</h5>
                    <form class="form-horizontal">
                        <input class="emailLogin  form-control" type="email" name="email" placeholder="Email">
                        <input class="passLogin  form-control" type="password" name="senha" placeholder="Senha"><br/>
                        <button class="btn btn-warning col-sm-12 col-md-12 iniciarBtn"><p class="iniciConverse">Iniciar Conversa</p>
                        </button>
                    </form>
                </div>
            </div>
            <div class = "footerFinalTwe col-xs-12 col-sm-12 col-md-9">
                <div class="checkboxInofrmacao col-xs-12 col-sm-12 col-md-12">
                    <div class ="boxSelectTopTwe col-sm-3 col-md-3">
                        <label class="checkboxOptionTopTew">
                            <img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
                        </label>

                        <label class="checkboxOptionTopTew">
                            <img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
                        </label>

                        <label class="checkboxOptionTopTew">
                            <img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
                        </label>
                    </div>

                    <div class ="boxSelectTopTwe col-sm-3 col-md-3">
                        <label class="checkboxOptionTopTew">
                            <img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
                        </label>

                        <label class="checkboxOptionTopTew">
                            <img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
                        </label>

                        <label class="checkboxOptionTopTew">
                            <img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
                        </label>
                    </div>

                    <div class ="boxSelectTopTwe col-sm-3 col-md-3">
                        <label class="checkboxOptionTopTew">
                            <img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
                        </label>

                        <label class="checkboxOptionTopTew">
                            <img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
                        </label>

                        <label class="checkboxOptionTopTew">
                            <img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
                        </label>
                    </div>

                    <div class ="boxSelectTopTwe col-sm-3 col-md-3">
                        <button class="btn btn-warning col-sm-12 col-md-12 telefonebtn"><p class="iniciConverse">Iniciar Conversa</p> </button>
                        <button class="btn btn-warning col-sm-12 col-md-12 telefonebtn btnImov"><p class="iniciConverse">Imoveis Semelhantes</p> </button>
                    </div>

                    <div class = "col-xs-12 col-sm-12 col-md-12 imprimiricon" >
                        <h5 class="pull-left">  Esse Imovel foi anunciado por seu proprietario </h5>
                        <a href = "" onclick="window.print();">
                            <span class = "pull-right "> Imprimir anúncio</span>
                            <img class="pull-right impre" src="../home/img/impre.png">
                        </a>
                    </div>
                    </div>
            </div>

            <div class="facebookCurti col-xs-12 col-sm-12 col-md-3 ">
                <div class="facebookCurtid col-xs-12 col-sm-12 col-md-12">
                    <img src  = "../home/img/facebook-icon.png" width="80"class = "pull-left" />
                    Gostou do emovel?
                    curta no face.

                    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fbeeimoveis%3Ffref%3Dts&amp;width&amp;layout=button&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true">
                        okljbhcdgsfasdfhj
                    </iframe>

                 </div>


            </div>



            <div class="atencaoInfor col-xs-12 col-sm-12 col-md-9">
                <div class="alertImoveisTwe col-xs-12 col-sm-4 col-md-4">
                    <img class="pull-left" src="../home/img/sino.png">
                    Receba alertas sobre o imóvel que procura
                </div>

                <div class = "ultimaDeinfo col-xs-12 col-sm-8 col-md-8 pull-right">
                    <h5 class = "col-sm-5 col-md-5">
                        Faça seu cadastro agora para ter acesso a mais estatisticas sobre os imoveis visualizados
                    </h5>
                    <button class="btn btn-warning col-sm-5 col-md-5 telefonebtn pull-right"><p class="iniciConverse">Quero me cadastra</p> </button>
                </div>

            </div>

            <div class="footer col-xs-12 col-sm-12 col-md-12 footerView">
                <footer>
                    <ul class="col-sm-1 col-md-1">
                        <li class="titleMenu">Contatos</li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                    </ul>

                    <ul class="col-sm-1 col-md-1">
                        <li class="titleMenu">Contatos</li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                    </ul>

                    <ul class="col-sm-1 col-md-1">
                        <li class="titleMenu">Contatos</li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                    </ul>

                    <ul class="col-sm-1 col-md-1">
                        <li class="titleMenu">Contatos</li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                    </ul>

                    <ul class="col-sm-1 col-md-1">
                        <li class="titleMenu">Contatos</li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                    </ul>

                    <ul class="col-sm-1 col-md-1">
                        <li class="titleMenu">Contatos</li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                        <li><a href="">Teste</a></li>
                    </ul>
                </footer>
            </div>

		</section>
    </main> <!-- Fim de Main -->
<div class = "footerMain">
</div>

<div class = "footerMainTwe">
    <div class = "footerMensagem">
        Copyright(c) BeeImoveis 2015 - Produzido por 2creative:
        <a href = "http://www.2creativegames.com.br/" target="_blank" >www.2creativegames.com.br</a>
    </div>
</div>
<script type="text/javascript" src="http://s1c.pagawatic.com/js/jquery-pgwjs-pgwmenu-rainbow-v226.js"></script>
<script type="text/javascript" src="http://s1c.pagawatic.com/js/pgwslideshow-v226.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script  src="../home/js/slider2.js"></script>
</body><!-- Fim de body -->
</html>
