<!doctype html>
<html lang="pt-br">
<head>
    <title>BeeImoveis</title> 
         <meta charset="UTF-8">
         <link href='../home/img/favicon.ico' rel='icon' type='image/x-icon'/>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link href="../home/css/style2.css" rel="stylesheet">
         <link href="../../lib/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet">
         <script src="../../lib/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
         <script src="../../lib/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
         <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
         <script src="../../lib/mask/jquery.mask.js"></script>
         <script src="../home/js/functionality.js"></script>
         <script type="text/javascript" src="../home/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="../home/js/jssor.js"></script>
        <script type="text/javascript" src="../home/js/jssor.slider.js"></script>
        <script type="text/javascript" src="../home/js/slider.js"></script>
</head>

<body> <!-- Inicio de body -->

   <main class="container mainContainer">   <!-- Inicio de Main -->
        <section class="row">

              <div class = "headerViewHome col-xs-12 col-sm-12 col-md-3">
                <aside class="asideLeft col-xs-12 col-sm-12 col-md-12" >
                    
                    <img width = "240" src="../home/img/logo.png" class  = "logo center-block" />
                    <div class = "voltarResultado col-xs-12 col-sm-12 col-md-12">
                        <div class = "btnVoltar">
                            <span class = "glyphicon glyphicon-arrow-left"></span>
                        </div>
                            <span class = "styleBtnVoltar center-block">Voltar á página <br/>de resultados</span>
                    </div>

                </aside>

              </div>


                <aside class="asideRight col-xs-9 col-sm-9 col-md-9">

                    <div class="menuRight  col-sm-12 col-md-12">
                        <ul class="optioSalesUL">  

                            <li class="optioSalesLiMain .col-md-5">
                                <a class="mainSubPropriet">Anunciar</a> 
                                <span class="mainSub"><br>
                                meu Imóvel
                                </span>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                     Comprar 
                                  <span class="mainSob"><br>
                                     Imóveis
                                  </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                       Imóveis 
                                    <span class="mainSob"><br>
                                       a Venda
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                        Imóveis 
                                    <span class="mainSob"><br>
                                        para Alugar
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                        Imóveis 
                                    <span class="mainSob"><br>
                                        Comerciais
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                       Planos 
                                    <span class="mainSob"><br>
                                      e valores
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                       Fale 
                                    <span class="mainSob"><br>
                                       Conosco
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
					
				</aside>
            <div class="containerDestaque col-sm-9 col-md-9">
                        <div class = "buscarImoveil">
                            <div class = " titleBuscaTop col-sm-2 col-md-2">
                                Busque seu <br/>
                                <p class = "subTop">Imóvel</p>
                            </div>

                            <div class = "selecionarBuscaTop col-sm-10 col-md-10">
                                    <form>

                                        <div class ="boxSelectTopOne col-sm-3 col-md-3">
                                            <select class = "form-control">
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                            </select>

                                             <select class = "form-control"> 
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                            </select>

                                             <select class = "form-control">
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                            </select>
                                        </div> 

                                        <div class ="boxSelectTopOne col-sm-3 col-md-3">
                                            <select class = "form-control">
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                            </select>

                                             <select class = "form-control">
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                            </select>

                                             <select class = "form-control">
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                                <option>Cidade</option>
                                            </select>
                                        </div>   

                                        <div class ="boxSelectTopTwe col-sm-4 col-md-4">
                                             <div class="checkboxTop"> 
                                                    <label class="checkboxOptionTop">
                                                           <input type="checkbox"> Somente Imóveis prontos
                                                    </label> 

                                                    <label class="checkboxOptionTop">
                                                           <input type="checkbox"> Somente Imóveis em construção
                                                    </label>   

                                                    <label style = "color:red" class="checkboxOptionTop">
                                                            <input type="checkbox"> Somente Imóveis de particulares
                                                    </label> 

                                                    <label class="checkboxOptionTop">
                                                           <input type="checkbox"> Aceitar Imóvel de menor valor
                                                    </label> 
                                            </div> 
                                        </div>
                                    </form>
                                <div class = "enviarBuscartop">
                                    Encontrar Imovel
                                </div>
                            </div>
						</div>
            </div>




               <div class = " col-sm-12 col-md-12">
                   <div class = "containerViewMovel col-sm-12 col-md-12">

						<p class = "enderecoCasa">
							 SHIN Qi 13 Conjunto 08 - Casa 11 - Brasília - DF Cod:9878734
						</p>
                  

                       <!-- Slide começa aqui -->
                       <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 800px; height: 456px; background: #191919; overflow: hidden;">

                           <!-- Loading Screen -->
                           <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                               <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block; background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
                               </div>
                               <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center; top: 0px; left: 0px;width: 100%;height:100%;">
                               </div>
                           </div>

                           <!-- Slides Container -->
                           <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 356px; overflow: hidden;">
                               <div>
                                   <img u="image" src="../home/img/alila/01.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-01.jpg" />
                               </div>
                               <div>
                                   <img u="image" src="../home/img/alila/02.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-02.jpg" />
                               </div>
                               <div>
                                   <img u="image" src="../home/img/alila/03.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-03.jpg" />
                               </div>
                               <div>
                                   <img u="image" src="../home/img/alila/04.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-04.jpg" />
                               </div>
                               <div>
                                   <img u="image" src="../home/img/alila/05.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-05.jpg" />
                               </div>
                               <div>
                                   <img u="image" src="../home/img/alila/06.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-06.jpg" />
                               </div>
                               <div>
                                   <img u="image" src="../home/img/alila/07.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-07.jpg" />
                               </div>
                               <div>
                                   <img u="image" src="../home/img/alila/08.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-08.jpg" />
                               </div>
                               <div>
                                   <img u="image" src="../home/img/alila/09.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-09.jpg" />
                               </div>
                               <div>
                                   <img u="image" src="../home/img/alila/10.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-10.jpg" />
                               </div>

                               <div>
                                   <img u="image" src="../home/img/alila/11.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-11.jpg" />
                               </div>
                               <div>
                                   <img u="image" src="../home/img/alila/12.jpg" />
                                   <img u="thumb" src="../home/img/alila/thumb-12.jpg" />
                               </div>
                           </div>
												<!-- Arrow Left -->
							<span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 158px; left: 8px;"></span>
											   <!-- Arrow Right -->
							<span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 158px; right: 8px"></span>
											   <!-- Arrow Navigator Skin End -->

											   <!-- Thumbnail Navigator Skin Begin -->
                           <div u="thumbnavigator" class="jssort01" style="position: absolute; width: 800px; height: 100px; left:0px; bottom: 0px;">
                          
                               <div u="slides" style="cursor: move;">
                                   <div u="prototype" class="p" style="position: absolute; width: 72px; height: 72px; top: 0; left: 0;">
                                       <div class=w><div u="thumbnailtemplate" style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></div></div>
                                       <div class=c>
                                       </div>
                                   </div>
                               </div>
                               <!-- Thumbnail Item Skin End -->
                           </div>
                           <!-- Thumbnail Navigator Skin End -->
                          
                       </div>
                       <!-- Slide termina aqui -->
						<div class = "descricaoProject">
                           Lorem Ipsum é simplesmente uma si um impresalto para a editosencialmente inalterado. Se popularizou na década de 60, quanegrado a
                           Lorem Ipsum é simplesmente uma si um impresalto para a editosencialmente inalterado. Se popularizou na década de 60, quanegrado a
                           Lorem Ipsum é simplesmente uma si um impresalto para a editosencialmente inalterado. Se popularizou na década de 60, quanegrado a
                       </div>
                   </div>

               </div>

               <div class = "containerFooter col-sm-12 col-md-12">
			   
                    <div class = "footerLeft col-sm-3 col-md-3">
                        <div class = "inforAcesso col-sm-12 col-md-12">
                            d
                        </div>
                   
                        <div class="loginMain col-sm-12 col-md-12">
							<h5 class = "donoTitle">Converse com o dono</h5>
							<form class="form-horizontal">
								  <input class="emailLogin  form-control" type="email" name="email" placeholder="Email">
								  <input class="passLogin  form-control" type="password" name="senha" placeholder="Senha"><br/>
								  <button class="btn btn-warning col-sm-12 col-md-12 iniciarBtn"><p class="iniciConverse">Iniciar Conversa</p> 
								  </button>
							</form>
						</div>
                        </br>

						<div class = "col-sm-12 col-md-12 facebo">
								<div class = "facebookImovel">
									<img src  = "../home/img/facebook-icon.png" width="80"class = "pull-left" />
										Gostou do emovel?
										curta no face.
								</div>
						</div>
                    </div>


                    <div class = "footerRight col-sm-9 col-md-9" style="padding-right:0px !important;">
					
                        <table class="table infoHome table-bordered">
                            <thead>
                                <tr class = "footerRights">
                                  <th>Valor</th>
                                  <th>Quanrtos</th>
                                  <th>Suítes</th>
                                  <th>Banheiros</th>
                                  <th>Lavabos</th>
                                  <th>Garagem</th>
                                  <th>Andar</th>
                                  <th>Andares</th>
                                </tr>
                            </thead>
							  
                            <tbody>
                                <tr class="active">
                                  <th scope="row">R$1.5.00000,00</th>
                                  <td>06</td>
                                  <td>05</td>
                                  <td>09</td>
                                  <td>09</td>
                                  <td>09</td>
                                  <td>--</td>
                                  <td>09</td>
                                </tr>
							</tbody>

                            <thead>
                                <tr class = "footerRights">
                                  <th>Valor</th>
                                  <th>Quanrtos</th>
                                  <th>Suítes</th>
                                  <th>Banheiros</th>
                                  <th>Lavabos</th>
                                  <th>Garagem</th>
                                  <th>Andar</th>
                                  <th>Andares</th>
                                </tr>
                            </thead>
							
                            <tbody>
                                <tr class="active">
                                  <th scope="row">R$1.5.00000,00</th>
                                  <td>06</td>
                                  <td>05</td>
                                  <td>09</td>
                                  <td>09</td>
                                  <td>09</td>
                                  <td>--</td>
                                  <td>09</td>
                                </tr>
                            </tbody>
                        </table>



						<div class = "informacaoImovel col-sm-12 col-md-12">

							<div class ="boxSelectTopTwe col-sm-3 col-md-3">
								 <label class="checkboxOptionTopTew">
									 <img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
								 </label>

								<label class="checkboxOptionTopTew">
									<img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
								</label>

								<label class="checkboxOptionTopTew">
									<img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
								</label>
							</div>

							<div class ="boxSelectTopTwe col-sm-3 col-md-3">
								<label class="checkboxOptionTopTew">
									<img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
								</label>

								<label class="checkboxOptionTopTew">
									<img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
								</label>

								<label class="checkboxOptionTopTew">
									<img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
								</label>
							</div>

							<div class ="boxSelectTopTwe col-sm-3 col-md-3">
								<label class="checkboxOptionTopTew">
									<img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
								</label>

								<label class="checkboxOptionTopTew">
									<img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
								</label>

								<label class="checkboxOptionTopTew">
									<img src="../home/img/iconCheck.png" /> Somente Imóveis prontos
								</label>
							</div>

								<div class ="boxSelectTopTwe col-sm-3 col-md-3">
									 <button class="btn btn-warning col-sm-12 col-md-12 telefonebtn"><p class="iniciConverse">Iniciar Conversa</p> </button>
									 <button class="btn btn-warning col-sm-12 col-md-12 telefonebtn btnImov"><p class="iniciConverse">Imoveis Semelhantes</p> </button>
								</div>
								
								<div class = "col-xs-12 col-sm-12 col-md-12 imprimiricon" >
										 <h5 class="pull-left">  Esse Imovel foi anunciado por seu proprietario </h5>
									<a href = "" onclick="window.print();">
										 <span class = "pull-right "> Imprimir anúncio</span>
										 <img class="pull-right impre" src="../home/img/impre.png">
									</a>  
								</div>
						</div>

						<div class="alertImoveisTwe col-xs-12 col-sm-4 col-md-4">
									<img class="pull-left" src="../home/img/sino.png">
									Receba alertas sobre o imóvel que procura
                        </div>

                        <div class = "ultimaDeinfo col-xs-12 col-sm-8 col-md-8 pull-right">
                            <h5 class = "col-sm-5 col-md-5">
                                Faça seu cadastro agora para ter acesso a mais estatisticas sobre os imoveis visualizados
                            </h5>
                            <button class="btn btn-warning col-sm-5 col-md-5 telefonebtn pull-right"><p class="iniciConverse">Quero me cadastra</p> </button>
                        </div>

                    </div>
                </div>
                
            <div class="footer col-xs-12 col-sm-12 col-md-12 footerView">
                <footer>
                        <ul class="col-sm-1 col-md-1">
							<li class="titleMenu">Contatos</li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
                        </ul>

						<ul class="col-sm-1 col-md-1">
							<li class="titleMenu">Contatos</li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
						</ul>

						<ul class="col-sm-1 col-md-1">
							<li class="titleMenu">Contatos</li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li> 
						</ul>

						<ul class="col-sm-1 col-md-1">
							<li class="titleMenu">Contatos</li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
						</ul>

						<ul class="col-sm-1 col-md-1">
							<li class="titleMenu">Contatos</li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
						</ul>

						<ul class="col-sm-1 col-md-1">
							<li class="titleMenu">Contatos</li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
							<li><a href="">Teste</a></li>
						</ul>
                </footer>       
            </div>
		</section>
    </main> <!-- Fim de Main -->

    <div class = "footerMain">
    </div>

    <div class = "footerMainTwe">
         <div class = "footerMensagem"> 
             Copyright(c) BeeImoveis 2015 - Produzido por 2creative: 
             <a href = "http://www.2creativegames.com.br/" target="_blank" >www.2creativegames.com.br</a>
         </div>
    </div>

</body><!-- Fim de body -->
</html>


















