<!doctype html>
<html lang="pt-br">

<head>

    <title>BeeImoveiees</title> 
         <meta charset="UTF-8">
         <link href='../home/img/favicon.ico' rel='icon' type='image/x-icon'/>
         <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link href="../home/css/style2.css" rel="stylesheet">
         <link href="../../lib/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet">
         <script src="../../lib/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
         <script src="../../lib/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
         <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
         <script src="../home/js/functionality.js"></script>
</head>

<body> <!-- Inicio de body -->
    <div class="container"> <!-- Container Principal -->
        <div class="row">   <!-- Row Principal -->

            <div class="col-xs-12 col-sm-12 col-md-12">
               <div  class = "col-xs-12 col-sm-12 col-md-12 emailTela center-block">  <!--  headerTop -->
                    <img src = "../home/img/logo.png" class="logoEmail" />

                    <a href = "#" class="pull-right">beeimoveis.com.br</a>

                    <img src = "../home/img/22.jpg" class="center-block imgDestaque" />

                   <p>
                       Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lanç
                   </p>

                   <ul>
                       <li>BeeImoveis SA</li>
                       <li>Tel:2243-2344</li>
                       <li>Endereço:</li>
                   </ul>

                   <div class="footerEmail col-xs-12 col-sm-12 col-md-12">

                   </div>

                </div>
            </div>

        </div>
    </div>

</body><!-- Fim de body -->
</html>


















