<!doctype html>
<html lang="pt-br">

<head>

    <title>BeeImoveiees</title> 
         <meta charset="UTF-8">
         <link href='../home/img/favicon.ico' rel='icon' type='image/x-icon'/>
         <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link href="../home/css/style2.css" rel="stylesheet">
         <link href="../../lib/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet">
         <script src="../../lib/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
         <script src="../../lib/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
         <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
         <script src="../home/js/functionality.js"></script>
</head>

<body> <!-- Inicio de body -->
    <div class="container"> <!-- Container Principal -->

        <div class="row">   <!-- Row Principal -->
            <div class = "col-xs-12 col-sm-12 col-md-12">
                    <img src = "../home/img/logo.png" class = "pull-left">
                </div>
                
      <div class="container-fluid menutopPainel">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand homeClass" href="#">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Serviços Especiais <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Meus Imóveis <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Agenda de Visitas <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Chat <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    
            <div class = "containerPainel  col-xs-12 col-sm-12 col-md-12">
                    <h1>Meus anúncios ativos</h1>


                   <table class="table">
                      <thead>
                        <tr>
                          <th>Cod.</th>
                          <th>Titulo do anuncio</th>
                          <th>Publicado em</th>
                          <th>Status</th>
                          <th>Visitas</th>
                          <th>Favoritado</th>
                          <th>Pausa</th>
                          <th>Vendido</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>64564</td>
                          <td>Qi Mr 7 AP 3</td>
                          <td>10/10/2015</td>
                          <td>Publicado</td>
                          <td>236</td>
                          <td>12</td>
                          <td>>></td>
                          <td>tro</td>
                        </tr>


                        <tr>
                          <td>64564</td>
                          <td>Qi Mr 7 AP 3</td>
                          <td>10/10/2015</td>
                          <td>Publicado</td>
                          <td>236</td>
                          <td>12</td>
                          <td>>></td>
                          <td>tro</td>
                        </tr>
                        
                      </tbody>
                    </table>

            </div>

             <div class = "containerPainel  col-xs-12 col-sm-12 col-md-12">

                                <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="">
                                    <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false">
                                         <span class="glyphicon glyphicon-envelope"></span>  Minhas mensagens
                                    </a>
                                </li>
                                
                                <li role="presentation" class="active">
                                    <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true">
                                        <span class="glyphicon glyphicon-cloud"></span> Meus Chats
                                    </a>
                                </li>
                                 
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                  <div role="tabpanel" class="tab-pane fade" id="home" aria-labelledby="home-tab">
                                                
                                                <table class="table  table-hover">
                                                      <tbody>
                                                        <tr>
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Layout do site ...</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                        <tr class="active">
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Layout do site ...</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                        <tr>
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Layout do site ...</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                        <tr>
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Layout do site ...</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                        <tr>
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Layout do site ...</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                        <tr>
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Layout do site ...</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                      </tbody>
                                                </table>

                                                <button type="button" class="btn btn-warning pull-left">  
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                     Criar nova mensagem
                                                </button>

                                                <button type="button" class="btn  btn-danger pull-right disabled">  
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                     Apagar
                                                </button>
                                  </div>

                                  <div role="tabpanel" class="tab-pane fade active in" id="profile" aria-labelledby="profile-tab">
                                     <table class="table  table-hover">
                                                      <tbody>
                                                        <tr>
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Denisson</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                        <tr class="active">
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Denisson</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                        <tr>
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Denisson</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                        <tr>
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Denisson</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                        <tr>
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>LDenisson</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                        <tr>
                                                          <th scope="row"><input type="checkbox"></th>
                                                          <td>Gabriel Borges</td>
                                                          <td>Denisson</td>
                                                          <td>12/11/2015</td>
                                                        </tr>
                                                      </tbody>
                                                </table>


                                                  <button type="button" class="btn  btn-danger pull-right disabled">  
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                     Apagar
                                                 </button>
                                  </div>                               
                                </div>
                            
             </div>



             <div class = "containerPainel  col-xs-12 col-sm-12 col-md-12">
                    <h1>Pendências</h1>

                    <table class="table">
                      <thead>
                        <tr>
                          <th>Codigo do Anuncio</th>
                          <th>Pendeência</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>64564</td>
                          <td>Seu numero possui somenmte 05 fotos legais comoa ssim vc nao fotas de travalhast com isso menino em ey siu sya rua diuydaaadwdddddddddddddddddddddddddddddddddddddddddwwdwdwdiowjdwjffdjoi</td>
                        </tr>


                        <tr>
                          <td>64564</td>
                          <td>Seu numero possui somenmte 05 fotos legais comoa ssim vc nao fotas de travalhast com isso menino em ey siu sya rua diuydaaadwdddddddddddddddddddddddddddddddddddddddddwwdwdwdiowjdwjffdjoi</td>
                        </tr>
                        
                      </tbody>
                    </table>
             </div>


             <div class = "containerPainel  col-xs-12 col-sm-12 col-md-12">
                    <h1>Minha agenda</h1>

                                

                                <div class="agendaPainel col-xs-3 col-sm-3 col-md-3">
                                        <h1>13/12/2015</h1>

                                        <div class="checkbox">
                                            <label>
                                             Visita confirmada ao imovel SHIN Qi 13 cj 08 cs 11
                                            </label>
                                        </div>
                                        <button type="button" class="btn btn-warning col-xs-12 col-sm-12 col-md-12">Agendar nova visita</button>
                                        <button type="button" class="btn btn-danger col-xs-12 col-sm-12 col-md-12">Cancelar visita</button>
                                </div>

                                 <div class="agendaPainel col-xs-3 col-sm-3 col-md-3">
                                        <h1>13/12/2015</h1>

                                        <div class="checkbox">
                                            <label>
                                              Visita confirmada ao imovel SHIN Qi 13 cj 08 cs 11
                                            </label>
                                        </div>
                                        <button type="button" class="btn btn-warning col-xs-12 col-sm-12 col-md-12">Agendar nova visita</button>
                                        <button type="button" class="btn btn-danger col-xs-12 col-sm-12 col-md-12">Cancelar visita</button>
                                </div>


                                 <div class="agendaPainel col-xs-3 col-sm-3 col-md-3">
                                        <h1>13/12/2015</h1>

                                        <div class="checkbox">
                                            <label>
                                              Visita confirmada ao imovel SHIN Qi 13 cj 08 cs 11
                                            </label>
                                        </div>
                                        <button type="button" class="btn btn-warning col-xs-12 col-sm-12 col-md-12">Agendar nova visita</button>
                                        <button type="button" class="btn btn-danger col-xs-12 col-sm-12 col-md-12">Cancelar visita</button>
                                </div>

                                 <div class="agendaPainel col-xs-3 col-sm-3 col-md-3">
                                        <h1>13/12/2015</h1>

                                        <div class="checkbox">
                                            <label>
                                             Visita confirmada ao imovel SHIN Qi 13 cj 08 cs 11
                                            </label>
                                        </div>
                                        <button type="button" class="btn btn-warning col-xs-12 col-sm-12 col-md-12">Agendar nova visita</button>
                                        <button type="button" class="btn btn-danger col-xs-12 col-sm-12 col-md-12">Cancelar visita</button>
                                </div>

                            

                    
             </div>
                    

                
 

        </div> <!-- Fim de Row Principal -->
    </div><!-- Fim de Container Principal -->

    <div class = "footerMain">
    </div>

    <div class = "footerMainTwe">
             <div class = "footerMensagem"> 
                 Copyright(c) BeeImoveis 2015 - Produzido por 2creative: 
                 <a href = "http://www.2creativegames.com.br/" target="_blank" >www.2creativegames.com.br</a>
             </div>
    </div>

</body><!-- Fim de body -->
</html>


















