<!doctype html>
<html lang="pt-br">

<head>

    <title>BeeImoveiees</title> 
         <meta charset="UTF-8">
         <link href='../home/img/favicon.ico' rel='icon' type='image/x-icon'/>
         <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link href="../home/css/style2.css" rel="stylesheet">
         <link href="../../lib/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet">
         <script src="../../lib/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
         <script src="../../lib/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
         <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
         <script src="../home/js/functionality.js"></script>
</head>

<body> <!-- Inicio de body -->
    <div class="container"> <!-- Container Principal -->
        <div class="row">   <!-- Row Principal -->

            <div  class = "col-xs-12 col-sm-12 col-md-12 headerTop">  <!--  headerTop -->
              
              <div class="chatTop col-xs-12 col-sm-12 col-md-5 center-block">
                  <button type="button" class="btn btn-danger pull-right">Sair</button>

              </div>  

            	<div class="chatContainer col-xs-12 col-sm-12 col-md-5 center-block">
                	<table class="table" >
                       <thead>
                        
                        <tr>
                          <th>
                            <img src = "../home/img/gabri.jpg" class="img-responsive pull-left img-circle" width = "40"  />
                            <div class = "nuvemensagens pull-left">
                              <div id = "triangle-left"></div>
                                Como voce estar ? nao sei se vol ai hoje provavelmente nao sera que ele vai ontem pra aonde em mule nao sei nao fa;afas fsad asd sad sad sad sa dsa das dsa dsa d sad sad  dasd sad sadsad sad sa dsa dsa dsa d sad asd sad sad sa dsa dsa dsa d
                            </div>
                          </th>
                        </tr>

                        <tr>
                          <th>
                            <img src = "../home/img/gabri.jpg" class="img-responsive pull-right img-circle" width = "40"  />
                            <div class = "nuvemensagensTwe pull-right">
                                Como voce estar ? nao sei se vol ai hoje provavelmente nao 
                                <div id = "triangle-right"></div>
                            </div>
                          </th>
                        </tr>

                        <tr>
                          <th>
                            <img src = "../home/img/gabri.jpg" class="img-responsive pull-left img-circle" width = "40"  />
                            <div class = "nuvemensagens pull-left">
                              <div id = "triangle-left"></div>
                                Como voce estar ? nao sei se vol ai hoje provavelmente nao sera que ele vai ontem pra aonde em mule nao sei nao fa;afas fsad asd sad sad sad sa dsa das dsa dsa d sad sad  dasd sad sadsad sad sa dsa dsa dsa d sad asd sad sad sa dsa dsa dsa d
                            </div>
                          </th>
                        </tr>

                        <tr>
                          <th>
                            <img src = "../home/img/gabri.jpg" class="img-responsive pull-right img-circle" width = "40"  />
                            <div class = "nuvemensagensTwe pull-right">
                                Como voce estar ? nao sei se vol ai hoje provavelmente nao 
                                <div id = "triangle-right"></div>
                            </div>
                          </th>
                        </tr>


                        <tr>
                          <th>
                            <img src = "../home/img/gabri.jpg" class="img-responsive pull-left img-circle" width = "40"  />
                            <div class = "nuvemensagens pull-left">
                              <div id = "triangle-left"></div>
                                Como voce estar ? nao sei se vol ai hoje provavelmente nao sera que ele vai ontem pra aonde em mule nao sei nao fa;afas fsad asd sad sad sad sa dsa das dsa dsa d sad sad  dasd sad sadsad sad sa dsa dsa dsa d sad asd sad sad sa dsa dsa dsa d
                            </div>
                          </th>
                        </tr>

                        <tr>
                          <th>
                            <img src = "../home/img/gabri.jpg" class="img-responsive pull-right img-circle" width = "40"  />
                            <div class = "nuvemensagensTwe pull-right">
                                Como voce estar ? nao sei se vol ai hoje provavelmente nao 
                                <div id = "triangle-right"></div>
                            </div>
                          </th>
                        </tr>
                        
                      </thead>
                    </table>
                  </div>

                  <div class="inputMensagens col-xs-12 col-sm-12 col-md-5 center-block">
                        <div class="input-group col-xs-12 in">
                           <input type="text" class="form-control pull-left" id="exampleInputPassword1" placeholder="Mensagens" />

                           <div class="input-group-addon">
                        <button class="btn btn-default pull-right" type="submit" value="Submit">Enviar</button>
                        <div>

                        </div>
                  </div>  

        </div> <!-- Fim de Row Principal -->
    </div><!-- Fim de Container Principal -->

   

</body><!-- Fim de body -->
</html>


















