<!doctype html>
<html lang="pt-br">

<head>

    <title>BeeImoveiees</title> 
         <meta charset="UTF-8">
         <link href='../home/img/favicon.ico' rel='icon' type='image/x-icon'/>
         <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link href="../home/css/style2.css" rel="stylesheet">
         <link href="../../lib/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet">
         <script src="../../lib/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
         <script src="../../lib/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
         <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
         <script src="../home/js/functionality.js"></script>
</head>

<body> <!-- Inicio de body -->
    <div class="container"> <!-- Container Principal -->
        <div class="row">   <!-- Row Principal -->

            <div  class = "col-xs-12 col-sm-12 col-md-12 headerTop">  <!--  headerTop -->
            
            	<div class="chatContainer col-xs-12 col-sm-12 col-md-4 center-block">
                	<table class="table">
                      <caption>Optional table caption.</caption>
                      <thead>
                        <tr>
                          <th>img</th>
                          <th>ne</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>1</th>
                          <td>Mark</td>
                        </tr>
                        <tr>
                          <th>1</th>
                          <td>Mark</td>
                        </tr>
                        <tr>
                          <th>1</th>
                          <td>Mark</td>
                        </tr>
                      </tbody>
                    </table>
                    
                   
                
                <div class="col-xs-12 col-sm-12 col-md-3 mensagensText">d</div>
                </div>
             	 
             </div>

        </div> <!-- Fim de Row Principal -->
    </div><!-- Fim de Container Principal -->

   

</body><!-- Fim de body -->
</html>


















