<!doctype html>
<html lang="pt-br">

<head>

    <title>BeeImoveiees</title> 
         <meta charset="UTF-8">
         <link href='../home/img/favicon.ico' rel='icon' type='image/x-icon'/>
         <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link href="../home/css/style2.css" rel="stylesheet">
         <link href="../../lib/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet">
         <script src="../../lib/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
         <script src="../../lib/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
         <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
         <script src="../home/js/functionality.js"></script>
</head>

<body> <!-- Inicio de body -->
    <div class="container"> <!-- Container Principal -->
        <div class="row">   <!-- Row Principal -->
                
                <div  class = "col-xs-12 col-sm-12 col-md-12 headerTop">  <!--  headerTop -->
                    <div class="row show-grid">
                        <div  class="col-xs-12 col-sm-12 col-md-12 headerMenuTop">
                            <nav class="navbar navbar-default">
                        <div class="container">
                           
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="../login/index.html">
                              
                                    <img width = "235"src="../home/img/logo.png" class  = "logo center-block">
                               
                                </a>
                            </div>

                           
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle cidadeSelect" data-toggle="dropdown" role="button" aria-expanded="false">
                                          Distrito federal
                                          <span class="glyphicon glyphicon-menu-down"></span>
                                        </a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Teste</a></li>
                                            <li><a href="#">Teste</a></li>
                                            <li><a href="#">Teste</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Teste</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Teste</a></li>
                                        </ul>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#">Apartamentos Asa sul</a>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#">Apartamentos Asa norte</a>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#">Casas Asa sul</a>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#">Casas Asa sul</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                         
                        </div>
                    </div>
                </div> <!-- Fim de headerTop -->

                <div class = "lateralLeft col-xs-12 col-sm-4 col-md-3"> <!-- lateralLeft -->
 
                        <!-- Area de login -->
                            <div class = "loginMain col-xs-12 col-sm-12 col-md-12">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                <input type="password" class="form-control" id="inputEmail4" placeholder="Senha">
                                <a class = "btn pull-left btn-link"  href="../cadastro/index.html">Cadastre-se</a>
                                 <a href = "../paineladmin/index.html">
                                <button class = "btn pull-right  col-xs-5 col-sm-6 col-md-6">Login</button>
                               </a>
                                <a class = "btn pull-right btn-link">Esqueci minha senha</a>
                            </div>
                        <!-- Fim de area de login -->

                        <!-- Busca de Imovel -->
                        <div class = "buscarImovel col-xs-12 col-sm-12 col-md-12">
                                <article>Testemunhos</article>
                            <form>
                                <center>

                                   <div class = "testemunhasPlanos col-xs-12 col-sm-12 col-md-12">
                                       <img src = "../home/img/gabri.jpg" class = "center-block pull-left" width="50" />
                                       <p class="pull-right">
                                           <span class = "nome">Denisson</span></br>
                                           <span>Programador</span></br>
                                       </p>

                                       <div class = "numvemBack col-xs-12 col-sm-12 col-md-12">
                                            <div id = "triangle-bottomleft"></div>
                                                    <b>"</b>A palavra e da cidade a palavra e nossa, A rua composita amusica<b>"</b>
                                       </div>
                                       
                                   </div>

                                    <div class = "testemunhasPlanos col-xs-12 col-sm-12 col-md-12">
                                        <img src = "../home/img/gabri.jpg" class = "center-block pull-left" width="50" />
                                        <p class="pull-right">
                                            <span class = "nome">Denisson</span></br>
                                            <span>Programador</span></br>

                                        </p>

                                        
                                       <div class = "numvemBack col-xs-12 col-sm-12 col-md-12">
                                            <div id = "triangle-bottomleft"></div>
                                                    <b>"</b>A palavra e da cidade a palavra e nossa, A rua composita amusica<b>"</b>
                                       </div>

                                    </div>


                                    <div class = "testemunhasPlanos col-xs-12 col-sm-12 col-md-12">
                                        <img src = "../home/img/gabri.jpg" class = "center-block pull-left" width="50" />
                                        <p class="pull-right">
                                            <span class = "nome">Denisson</span></br>
                                            <span>Programador</span></br>

                                        </p>

                                        
                                       <div class = "numvemBack col-xs-12 col-sm-12 col-md-12">
                                            <div id = "triangle-bottomleft"></div>
                                                    <b>"</b>A palavra e da cidade a palavra e nossa, A rua composita amusica<b>"</b>
                                       </div>

                                    </div>
                                </center> 



                            </form>  
                        </div>
                        <!-- Fim de buscar meu imovel -->

                        <!-- Facebook  -->
                        <div class="facebookLike col-xs-12 col-sm-12 col-md-12">
                            <div id="fb-root"></div>
                              <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-width="280" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true">
                            </div>
                        </div>
                        <!-- Fim de facebook -->

                        <div class="alertImoveis col-xs-12 col-sm-12 col-md-12">
                            <img class = "center-block"src = "../home/img/sino.png" />
                                Receba alertas sobre o imóvel que procura
                        </div>


                                         
                </div> <!--  Fim lateralLeft -->
 

                    <div class = "menuRight col-xs-12 col-sm-8 col-md-9 ">



                                     <ul class="optioSalesUL">  

                            <li class="optioSalesLiMain .col-md-5">
                                <a class="mainSubPropriet">Anunciar</a> 
                                <span class="mainSub"><br>
                                meu Imóvel
                                </span>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                     Comprar 
                                  <span class="mainSob"><br>
                                     Imóveis
                                  </span>
                                </a>
                            </li>

                            <li class="optioSalesLi retirarLi">
                                <a href="#">
                                       Imóveis 
                                    <span class="mainSob"><br>
                                       a Venda
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi retirarLi">
                                <a href="#">
                                        Imóveis 
                                    <span class="mainSob"><br>
                                        para Alugar
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi retirarLi">
                                <a href="#">
                                        Imóveis 
                                    <span class="mainSob"><br>
                                        Comerciais
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="../planosevalores/index.html">
                                       Planos 
                                    <span class="mainSob"><br>
                                      e valores
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                       Fale 
                                    <span class="mainSob"><br>
                                       Conosco
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>

                <div class = "lateralRight col-xs-12 col-sm-8 col-md-9 "> <!-- lateralRight -->
                        
                        <div class = "descricaoprojeto col-xs-12 col-sm-12 col-md-12 ">
                            <article class = "pull-left col-xs-12 col-sm-6 col-md-9">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </article>

                            <img src  = "../home/img/logo.png" class ="pull-right" />
                        </div>

                        <div class = "descricaoprojeto col-xs-12 col-sm-12 col-md-12 ">
                            <img src = "../home/img/conheca.png" class="center-block img-responsive" />
                            <p class="center-block">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                            </p>

                            <div class = "col-xs-12 col-sm-12 col-md-6 pull-left center-block videoYoutube">
                                <iframe width="420" height="290" src="https://www.youtube.com/embed/TH5i_Z8ODp8" frameborder="0" allowfullscreen></iframe>
                            </div>

                            <div class = "col-xs-12 col-sm-12 col-md-6 pull-right inforCheck" >


                                <div class="checkbox">
                                    <label>
                                        <p>Anuncie Gratis</p>
                                        <img src="../home/img/iconmarca.png" class="pull-right "> 
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                         <p>Videos e fotos profissionais</p>
                                         <img src="../home/img/iconmarca.png" class="pull-right ">
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                       <p>Filmagem com Drone</p>
                                        <img src="../home/img/iconmarca.png" class="pull-right "> 
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                         <p>Chat com clientes interessados</p>
                                          <img src="../home/img/iconmarca.png" class="pull-right "> 
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                         <p>Agenda personalizada de visitas ao imovel</p>
                                          <img src="../home/img/iconmarca.png" class="pull-right "> 
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                         <p>Analise de Documentacao do imovel</p>
                                          <img src="../home/img/iconmarca.png" class="pull-right "> 
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                         <p>Analise de Documentacao do imovel</p>
                                          <img src="../home/img/iconmarca.png" class="pull-right "> 
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <p>Analise de Documentacao do imovel</p>
                                         <img src="../home/img/iconmarca.png" class="pull-right "> 
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                         <p>Analise de Documentacao do imovel</p>
                                          <img src="../home/img/iconmarca.png" class="pull-right "> 
                                    </label>
                                </div>




                            </div>

                        </div>

                    <div class = "descricaoprojeto col-xs-12 col-sm-12 col-md-12 ">
                        <img src = "../home/img/planos.png" class="center-block img-responsive" />


                        <div class = "col-xs-12 col-sm-3 col-md-4 pull-left" style="margin-top:48px;">
                            <img src = "../home/img/planoBasico.png" class = "img-responsive" /></br>
                            <button class="btnAnuncieGratis col-xs-12 col-sm-12 col-md-12">
                                <img src = "../home/img/anuncieGratis.png" class="center-block img-responsive" />
                            </button>
                        </div>

                        <div class = "col-xs-12 col-sm-3 col-md-4 pull-left" >
                            <img src = "../home/img/planoBeeCompleto.png" class = "img-responsive" /></br>
                            <a   href="../pacote/index.html">
                                <button class="btnPlanoCompleto col-xs-12 col-sm-12 col-md-12">
                                    <img src = "../home/img/btnimovel.png" class="center-block img-responsive" />
                                </button>
                            </a>
                        </div>

                        <div class = "col-xs-12 col-sm-3 col-md-4 pull-left"  style="margin-top:48px;">
                            <img src = "../home/img/planoBeeMaster.png" class = "img-responsive" /></br>
                            <button class="btnPlanoMaster col-xs-12 col-sm-12 col-md-12">
                                <img src = "../home/img/btnanuncie.png" class="center-block img-responsive" />
                            </button>
                        </div>




                        <h3 class = "footerDescribe">
                            É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum
                        </h3>




                   </div>

                    <div class = "descricaoprojeto col-xs-12 col-sm-12 col-md-12 ">
                        <img src = "../home/img/titleServicoExtra.png" class="center-block img-responsive titleServico" />

                        <div class = "beneficiosBeemoveis col-xs-12 col-sm-12 col-md-12">
                            <img src ="../home/img/prancheta.png" class = "pull-left" />
                            <h2>Análise da documentacao</h2>
                            <p>
                                É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum
                            </p>
                            <h6>*Servico já incluso nos BeeCompleto e BeeMaster</h6>
                            <h3>
                                R$ 250,00
                            </h3>
                        </div>

                        <div class = "beneficiosBeemoveis col-xs-12 col-sm-12 col-md-12">
                            <img src ="../home/img/alice.png" class = "pull-left" />

                            <h1>Filmagem com Drone</h1>

                            <p>
                                É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum
                            </p>

                            <h3>
                                R$ 250,00
                            </h3>

                            <h6>*Servico já incluso nos BeeCompleto e BeeMaster</h6>

                        </div>

                    </div>
                

                </div> <!-- Fim de lateralRight -->

                <div class = "footer col-xs-12 col-sm-12 col-md-12">
                        <footer >
                                <ul class = "col-sm-1 col-md-1" >
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li> 
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>
                        </footer>       
                </div>

        </div> <!-- Fim de Row Principal -->
    </div><!-- Fim de Container Principal -->

    <div class = "footerMain">
        </div>

        <div class = "footerMainTwe">
             <div class = "footerMensagem"> 
                 Copyright(c) BeeImoveis 2015 - Produzido por 2creative: 
                 <a href = "http://www.2creativegames.com.br/" target="_blank" >www.2creativegames.com.br</a>
             </div>
        </div>

</body><!-- Fim de body -->
</html>


















