<!doctype html>
<html lang="pt-br">

<head>

    <title>BeeImoveiees</title> 
         <meta charset="UTF-8">
         <link href='../home/img/favicon.ico' rel='icon' type='image/x-icon'/>
         <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link href="../home/css/style2.css" rel="stylesheet">
         <link href="../../lib/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet">
         <script src="../../lib/jquery-ui-1.11.2.custom/external/jquery/jquery.js"></script>
         <script src="../../lib/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
         <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
         <script src="../home/js/functionality.js"></script>
</head>

<body> <!-- Inicio de body -->
    <div class="container"> <!-- Container Principal -->
        <div class="row">   <!-- Row Principal -->
                <div  class = "col-xs-12 col-sm-12 col-md-12 headerTop">  <!--  headerTop -->
                    <div class="row show-grid">
                        <div  class="col-xs-12 col-sm-12 col-md-12 headerMenuTop">
                            <nav class="navbar navbar-default">
                                 <div class="container">
                           
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                            <span class="sr-only"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="../login/index.html">
                                            <img width = "240"src="../home/img/logo.png" class  = "logo center-block">
                                        </a>
                                    </div>

                           
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle cidadeSelect" data-toggle="dropdown" role="button" aria-expanded="false">
                                          Distrito federal
                                          <span class="glyphicon glyphicon-menu-down"></span>
                                        </a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Teste</a></li>
                                            <li><a href="#">Teste</a></li>
                                            <li><a href="#">Teste</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Teste</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Teste</a></li>
                                        </ul>
                                    </li>


                                    <li class = "destaqueSeo">
                                        <a href="#"><h2>Apartamentos Asa sul</h2></a>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#"><h2>Apartamentos Asa norte</h2></a>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#"><h2>Casas Asa sul</h2></a>
                                    </li>

                                    <li class = "destaqueSeo">
                                        <a href="#"><h2>Casas Asa sul</h2></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                        </div>
                    </div>
                </div> <!-- Fim de headerTop -->

                <div class = "lateralLeft col-xs-12 col-sm-4 col-md-3"> <!-- lateralLeft -->
 
                        <!-- Area de login -->    
                        <div class = "loginMain col-xs-12 col-sm-12 col-md-12">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            <input type="password" class="form-control" id="indputEmail3" placeholder="Senha">
                            <a class = "btn pull-left btn-link"  href="../cadastro/index.html"> Cadastre-se</a>
                            <a href = "../paineladmin/index.html">
                            	<button class = "btn pull-right  col-xs-5 col-sm-6 col-md-6">Login</button>
                            </a>
                            <a class = "btn pull-right btn-link" >Esqueci minha senha</a>
                        </div>
                        <!-- Fim de area de login -->

                        <!-- Busca de Imovel -->
                        <div class = "buscarImovel col-xs-12 col-sm-12 col-md-12">
                            <article>Busque seu Imóvel</article>
                            <form class = "center-block">
                               
                                    <select class="form-control">
                                        <option>Destrito Federal</option>
                                        <option>Cidade</option>
                                        <option>Cidade</option>
                                    </select>

                                    <select class="form-control">
                                        <option>Venda</option>
                                        <option>Cidade</option>
                                        <option>Cidade</option>
                                    </select>

                                    <select class="form-control">
                                        <option>Cidade</option>
                                        <option>Cidade</option>
                                        <option>Cidade</option>
                                    </select>

                                    <select class="form-control">
                                        <option>Bairro</option>
                                        <option>Cidade</option>
                                        <option>Cidade</option>
                                    </select>

                                    <select class="form-control">
                                        <option>Apartamento</option>
                                        <option>Cidade</option>
                                        <option>Cidade</option>
                                    </select>
                                

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> Somente Imóveis prontos
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> Somente Imóveis em construção
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label class = "checkboxdestaque">
                                      <input type="checkbox"> Somente Imóveis de particulares
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> Aceitar Imóvel de menor valor
                                    </label>
                                </div>

                                <input class="span11 form-control" type="text" placeholder="Localização (Ex, Bloco)">

                                <label class="checkboxOptionPrice">
                                   Preço até
                                </label>

                                <div id="slider-range-min" class="col-xs-12 col-sm-12 col-md-12">
                                </div>

                                <input type="text" class="span11 form-control" id="amount" readonly style="border:0; color:#000; font-weight:bold;">

                                <div type = "submit" class="findProperty btnEncontrar">
                                   <button type = "submit">Encontrar Imóvel</button> 
                                </div>

                            </form>  
                        </div>
                        <!-- Fim de buscar meu imovel -->

                        <!-- Facebook  -->
                        <div class="facebookLike col-xs-12 col-sm-12 col-md-12 center-block">
                          <iframe class = "center-block" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width=200&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:258px;" allowTransparency="true"></iframe>
                        </div>
                        <!-- Fim de facebook -->

                        <div class="alertImoveis col-xs-12 col-sm-12 col-md-12">
                            <img class = "center-block"src = "../home/img/sino.png" />
                                Receba alertas sobre o imóvel que procura
                        </div>

                </div> <!--  Fim lateralLeft -->
 

                    <div class = "menuRight col-xs-12 col-sm-8 col-md-9 ">
                        
                        <ul class="optioSalesUL">  
                            <li class="optioSalesLiMain .col-md-5">
                                <a href = "#" class="mainSubPropriet ">Anunciar
                                <span class="mainSub">
                                meu Imóvel
                                </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                     Comparar
                                  <span class="mainSob">
                                     Imóveis
                                  </span>
                                </a>
                            </li>

                            <li class="optioSalesLi retirarLi">
                                <a href="#">
                                       Imóveis 
                                    <span class="mainSob">
                                       a Venda
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi retirarLi">
                                <a href="#">
                                        Imóveis 
                                    <span class="mainSob">
                                        para Alugar
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi retirarLi">
                                <a href="#">
                                        Imóveis 
                                    <span class="mainSob">
                                        Comerciais
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="../planosevalores/index.html">
                                       Planos 
                                    <span class="mainSob">
                                      e valores
                                    </span>
                                </a>
                            </li>

                            <li class="optioSalesLi">
                                <a href="#">
                                       Fale 
                                    <span class="mainSob">
                                       Conosco
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>

                <div class = "lateralRight col-xs-12 col-sm-8 col-md-9 "> <!-- lateralRight -->

                    <div class="titleMoveis col-xs-12 col-sm-12 col-md-12"><h1>Imóveis no(a): Distrito-Federal</h1></div>

                <ul class="listagemDeImoveis"> 

                    <li>
                        <a href = "../viewmovel/index.html" style="color:#000;">
                            <div class = "anuncioHome col-xs-12 col-sm-12 col-md-12">

                                <button class="btn btnAluguel pull-left">Aluguel</button>
                                <h4>R$ 850,000,00</h4>
                                <img  height="135"  src = "../home/img/casabak.jpg" class="col-xs-12 col-sm-5 col-md-5 imgCasaAnuncianteHome"/>

                                <div class=" col-xs-12 col-sm-3 col-md-3" >
                                    <h5>Apartamento Lago Norte Condominio Xyz</h5>
                                    <h6>Cidade</h6>
                                </div>

                                <div class=" col-xs-12 col-sm-4 col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Quarto:4
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Suites:2
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Valor m: $R 10.000.0
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Area util: 20,02,20
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>  

                    <li>
                        <a href = "#" style="color:#000;">
                            <div class = "anuncioHome col-xs-12 col-sm-12 col-md-12">

                                <button class="btn btnAluguel">Aluguel</button>
                                <h4>R$ 850,000,00</h4>
                                <img  height="135"  src = "../home/img/casabak.jpg" class="col-xs-12 col-sm-5 col-md-5 imgCasaAnuncianteHome"/>

                                <div class=" col-xs-12 col-sm-3 col-md-3" >
                                    <h5>Apartamento Lago Norte Condominio Xyz</h5>
                                    <h6>Cidade</h6>
                                </div>

                                <div class=" col-xs-12 col-sm-4 col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Quarto:4
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Suites:2
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Valor m: $R 10.000.0
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Area util: 20,02,20
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>

                    <li>
                        <a href = "#" style="color:#000;">
                            <div class = "anuncioHome col-xs-12 col-sm-12 col-md-12">

                                <button class="btn btnAluguel">Aluguel</button>
                                <h4>R$ 850,000,00</h4>
                                <img  height="135"  src = "../home/img/casabak.jpg" class="col-xs-12 col-sm-5 col-md-5 imgCasaAnuncianteHome"/>

                                <div class=" col-xs-12 col-sm-3 col-md-3" >
                                    <h5>Apartamento Lago Norte Condominio Xyz</h5>
                                    <h6>Cidade</h6>
                                </div>

                                <div class=" col-xs-12 col-sm-4 col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Quarto:4
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Suites:2
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Valor m: $R 10.000.0
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Area util: 20,02,20
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>

                    <li>
                        <a href = "#" style="color:#000;">
                            <div class = "anuncioHome col-xs-12 col-sm-12 col-md-12">

                                <button class="btn btnAluguel">Aluguel</button>
                                <h4>R$ 850,000,00</h4>
                                <img  height="135"  src = "../home/img/casabak.jpg" class="col-xs-12 col-sm-5 col-md-5 imgCasaAnuncianteHome"/>

                                <div class=" col-xs-12 col-sm-3 col-md-3" >
                                    <h5>Apartamento Lago Norte Condominio Xyz</h5>
                                    <h6>Cidade</h6>
                                </div>

                                <div class=" col-xs-12 col-sm-4 col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Quarto:4
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Suites:2
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Valor m: $R 10.000.0
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Area util: 20,02,20
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>

                    <li>
                        <a href = "#" style="color:#000;">
                            <div class = "anuncioHome col-xs-12 col-sm-12 col-md-12">

                                <button class="btn btnAluguel">Aluguel</button>
                                <h4>R$ 850,000,00</h4>
                                <img  height="135"  src = "../home/img/casabak.jpg" class="col-xs-12 col-sm-5 col-md-5 imgCasaAnuncianteHome"/>

                                <div class=" col-xs-12 col-sm-3 col-md-3" >
                                    <h5>Apartamento Lago Norte Condominio Xyz</h5>
                                    <h6>Cidade</h6>
                                </div>

                                <div class=" col-xs-12 col-sm-4 col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Quarto:4
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Suites:2
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Valor m: $R 10.000.0
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Area util: 20,02,20
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>

                    <li>
                        <a href = "#" style="color:#000;">
                            <div class = "anuncioHome col-xs-12 col-sm-12 col-md-12">

                                <button class="btn btnAluguel">Aluguel</button>
                                <h4>R$ 850,000,00</h4>
                                <img  height="135"  src = "../home/img/casabak.jpg" class="col-xs-12 col-sm-5 col-md-5 imgCasaAnuncianteHome"/>

                                <div class=" col-xs-12 col-sm-3 col-md-3" >
                                    <h5>Apartamento Lago Norte Condominio Xyz</h5>
                                    <h6>Cidade</h6>
                                </div>

                                <div class=" col-xs-12 col-sm-4 col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Quarto:4
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Suites:2
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Valor m: $R 10.000.0
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Area util: 20,02,20
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>

                    <li>
                        <a href = "#" style="color:#000;">
                            <div class = "anuncioHome col-xs-12 col-sm-12 col-md-12">

                                <button class="btn btnAluguel">Aluguel</button>
                                <h4>R$ 850,000,00</h4>
                                <img  height="135"  src = "../home/img/casabak.jpg" class="col-xs-12 col-sm-5 col-md-5 imgCasaAnuncianteHome"/>

                                <div class=" col-xs-12 col-sm-3 col-md-3" >
                                    <h5>Apartamento Lago Norte Condominio Xyz</h5>
                                    <h6>Cidade</h6>
                                </div>

                                <div class=" col-xs-12 col-sm-4 col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Quarto:4
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Suites:2
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Valor m: $R 10.000.0
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Area util: 20,02,20
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>




                    <li>
                        <a href = "#" style="color:#000;">
                            <div class = "anuncioHome col-xs-12 col-sm-12 col-md-12">

                                <button class="btn btnAluguel">Aluguel</button>
                                <h4>R$ 850,000,00</h4>
                                <img  height="135"  src = "../home/img/casabak.jpg" class="col-xs-12 col-sm-5 col-md-5 imgCasaAnuncianteHome"/>

                                <div class=" col-xs-12 col-sm-3 col-md-3" >
                                    <h5>Apartamento Lago Norte Condominio Xyz</h5>
                                    <h6>Cidade</h6>
                                </div>

                                <div class=" col-xs-12 col-sm-4 col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Quarto:4
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Suites:2
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Valor m: $R 10.000.0
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Area util: 20,02,20
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>


                    <li>
                        <a href = "#" style="color:#000;">
                            <div class = "anuncioHome col-xs-12 col-sm-12 col-md-12">

                                <button class="btn btnAluguel">Aluguel</button>
                                <h4>R$ 850,000,00</h4>
                                <img  height="135"  src = "../home/img/casabak.jpg" class="col-xs-12 col-sm-5 col-md-5 imgCasaAnuncianteHome"/>

                                <div class=" col-xs-12 col-sm-3 col-md-3" >
                                    <h5>Apartamento Lago Norte Condominio Xyz</h5>
                                    <h6>Cidade</h6>
                                </div>

                                <div class=" col-xs-12 col-sm-4 col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Quarto:4
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Suites:2
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Valor m: $R 10.000.0
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <img src="../home/img/iconmarca.png" /> Area util: 20,02,20
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>

                </ul>


                <div class="col-xs-12 col-sm-12 col-md-12 paginacao center-block">
                    <div class="pag center-block">
                        <div class="btn-group " role="group" aria-label="First group">
                            <button type="button" class="btn btn-default"><<</button>
                            <button type="button" class="btn btn-default">1</button>
                            <button type="button" class="btn btn-default">2</button>
                            <button type="button" class="btn btn-default">3</button>
                            <button type="button" class="btn btn-default">4</button>
                            <button type="button" class="btn btn-default">5</button>
                            <button type="button" class="btn btn-default">6</button>
                            <button type="button" class="btn btn-default">7</button>
                            <button type="button" class="btn btn-default">8</button>
                            <button type="button" class="btn btn-default">9</button>
                            <button type="button" class="btn btn-default">10</button>
                            <button type="button" class="btn btn-default">>></button>
                        </div>
                    </div>

                    <div class="pull-right">
                        <p>10 - 50</p>
                    </div>
                </div>


                

                </div> <!-- Fim de lateralRight -->

                <div class = "footer col-xs-12 col-sm-12 col-md-12">
                        <footer >
                                <ul class = "col-sm-1 col-md-1" >
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li> 
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>

                    <ul class = "col-sm-1 col-md-1">
                        <li class = "titleMenu">Contatos</li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                        <li><a href = "">Teste</a></li>
                    </ul>
                        </footer>       
                </div>

        </div> <!-- Fim de Row Principal -->
    </div><!-- Fim de Container Principal -->

    <div class = "footerMain">
    </div>

    <div class = "footerMainTwe">
             <div class = "footerMensagem"> 
                 Copyright(c) BeeImoveis 2015 - Produzido por 2creative: 
                 <a href = "http://www.2creativegames.com.br/" target="_blank" >www.2creativegames.com.br</a>
             </div>
    </div>

</body><!-- Fim de body -->
</html>


















